@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewBuddy</title>
</head>

<body>
    <div class="container d-flex flex-column align-items-center mt-5">
        <h1 class="text-center mb-4">Welcome to BrewBuddy</h1>
        <p class="text-center mb-4">Your one-stop solution for tracking and managing your beer collection.</p>
        <a class="btn btn-primary btn-lg" href="/Beers">Get Started</a>
    </div>
</body>
</html>
