@model IEnumerable<BrewBuddy.ViewModels.BeerViewModel>

@{
    ViewData["Title"] = "Beer Log";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beer Tracker</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Beer Log</h1>

        <div class="col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" oninput="liveSearch()" id="searchInput" class="form-control" placeholder="Search...">
            </div>
        </div>

        <div class="text-center">
            <a asp-action="Create" class="btn btn-success mb-4">New Brew</a>
        </div>

        <table class="table table-borderless">
            <tbody class="">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="mb-3">
                            @Html.Partial("_BeerDetails", item)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

<script>
    $(function () {
        $('body').on('click', '.show-delete-modal', function () {
            var card = $(this).closest('.card');
            var modal = card.find('.modal');
            modal.modal('show');
        });
    });
</script>


